@include b('organization'){

	overflow: hidden;
	@include padding-y(15px, 45px);

	@include min(sm){
		@include padding-y(45px);
	}

	@include e('title'){
		margin-bottom: 30px;
	}
	
	// Item
	@include e('item'){
		@include padding-y(15px);

		&:not(:last-child){
			border-bottom: 2px solid $color-brand-3;
		}

		@include min(sm){
			display: flex;
			flex-flow: row wrap;
			align-items: center;
		}

		@include ee('header'){
			display: flex;
			align-items: center;
			flex-flow: row wrap;
			flex-basis: 250px;
			@include max(sm){
				margin-bottom: 10px;
			}
		}

		@include ee('image'){
			height: 40px;
			flex-basis: 40px;
			margin-right: 15px;
		}

		@include ee('title'){
			flex-basis: 0;
			flex-grow: 1;
			font-family: 'FormularBold';
			color: $color-brand-2;
		}

		@include ee('content'){
			font-size: 16px;
			@include min(sm){
				flex-basis: 0;
				flex-grow: 1;
			}
		}
	}

	// Gallery
	@include e('gallery'){
		list-style: none;
		font-size: 0;
		@include min(sm){
			display: flex;
			flex-flow: row wrap;
			width: 635px;
		}

		@include ee('item'){
			overflow: hidden;

			@include max(sm){
				&:not(:last-child){
					margin-bottom: 30px;
				}
			}
			@include min(sm){
				flex-basis: 50%;
			}

			@include ee('image'){
				@include transition();
				backface-visibility: hidden;
				transform: translateZ(0);
				@include min(sm){
					width: 100%;
					height: 235px;
				}
			}

			&:hover &{
				@include ee('image'){
					transform: scale(1.2);
				}
			}
		}
	}
}