
<footer class="site-footer">
  <div class="site-footer__container container">
    <div class="site-footer__row row">
      <div class="site-footer__logo col-12 col-sm-2"><img src="img/logo.png"/>
      </div>
      <div class="site-footer__info col-12 col-sm-10">
        <button class="site-footer__link" data-action="modal" data-open="#modal-politic">Политика конфиденциальности
        </button>
        <button class="site-footer__link" data-action="modal" data-open="#modal-otkaz">Отказ от ответственности
        </button>
      </div>
    </div>
  </div>
</footer>