
<header class="site-header">
  <div class="quadro quadro_style-1 site-header__quadro" data-emergence="hidden"><span class="quadro__part quadro__part_1"></span><span class="quadro__part quadro__part_2"></span><span class="quadro__part quadro__part_3"></span><span class="quadro__part quadro__part_4"></span><span class="quadro__part quadro__part_5"></span><span class="quadro__part quadro__part_6"></span><span class="quadro__part quadro__part_7"></span><span class="quadro__part quadro__part_8"></span><span class="quadro__part quadro__part_9"></span>
  </div>
  <div class="container" id="site-header-container">
    <h1 class="site-header__title title-lg wow fadeInUp" id="site-header-title">Летний <span class="color-brand-3">языковой лагерь </span>в <span class="site-header__title-flag">Польше</span>
    </h1>
    <p class="site-header__description wow fadeInUp" data-wow-delay="0.25s">За 10-14 дней Ваш ребенок совместит приятное с полезным: <span class="color-brand-3">отдохнет среди первозданной природы </span>лесов и озер, плюс <span class="color-brand-3">выучит польский в естественной среде</span>
    </p>
    <div class="site-header__button-wrapper wow fadeInUp" data-wow-delay="0.3s">
      <button class="btn btn_size-lg btn_brand-1 effect effect_bounce-top" data-action="modal" data-open="#modal-form">Проконсультироваться и узнать даты заездов
      </button>
    </div>
    <div class="site-header__info wow fadeInUp" data-wow-delay="0.4s"><a class="site-header__info-link" href="#section-ukraine-problems" data-scroll="data-scroll">
      <p class="site-header__info-link-title">Скрольте мышкой вниз, чтобы узнать больше!
      </p><img class="site-header__info-link-image" src="img/mouse.svg" alt="" role="presentation"/></a>
    </div>
  </div>
</header>