include ../bem/index
include ../helpers/config
include ../helpers/mixins
+b.HEADER.site-header
	+quadro('_style-1 site-header__quadro')
	.container#site-header-container
		+e.H1.title.title-lg.wow.fadeInUp#site-header-title
			|Летний 
			span.color-brand-3 языковой лагерь 
			|в 
			+e.SPAN.title-flag Польше
		+e.P.description.wow.fadeInUp(data-wow-delay="0.25s")
			| За 10-14 дней Ваш ребенок совместит приятное с полезным: 
			span.color-brand-3 отдохнет среди первозданной природы 
			| лесов и озер, плюс 
			span.color-brand-3 выучит польский в естественной среде
		+e.button-wrapper.wow.fadeInUp(data-wow-delay="0.3s")
			+b.BUTTON.btn._size-lg._brand-1.effect._bounce-top(data-action="modal" data-open="#modal-form") Проконсультироваться и узнать даты заездов
		+e.info.wow.fadeInUp(data-wow-delay="0.4s")
			+e.A.info-link(href="#section-ukraine-problems" data-scroll)
				+e.P.info-link-title Скрольте мышкой вниз, чтобы узнать больше!
				+e.IMG.info-link-image(src="img/mouse.svg")