
<header class="site-header site-header_question">
  <div class="container">
    <h1 class="site-header__title site-header__title_small title-lg wow fadeInUp">Спасибо за Вашу заявку!
    </h1>
    <p class="site-header__description site-header__description_small wow fadeInUp" data-wow-delay="0.25s">Мы свяжемся с Вами в ближайшее время.
    </p>
    <div class="quiz wow fadeInUp" data-wow-delay="0.5s">
      <div class="quiz__header">
        <h2 class="quiz__title">Ответьте всего на 3 вопроса
        </h2>
        <h3 class="quiz__subtitle">Чтобы консультация была максимально полезной
        </h3>
      </div>
      <div class="quiz__content">
        <form action="quiz.php" method="POST" id="quizForm">
          <div class="quiz__item quiz__item_active" data-title="1. Ваш ребенок уже поступил в учебное заведение Польши?">
            <p class="quiz__item-title">
            </p>
            <div class="control-group control-group_inline">
              <div class="control control_default">
                <label>
                  <p class="control__text">Да
                  </p>
                  <input class="js-quiz" type="radio" name="question_1" value="Да"/><span class="control__indicator"></span>
                </label>
              </div>
              <div class="control control_default">
                <label>
                  <p class="control__text">Нет
                  </p>
                  <input class="js-quiz" type="radio" name="question_1" value="Нет"/><span class="control__indicator"></span>
                </label>
              </div>
            </div>
          </div>
          <div class="quiz__item" data-title="2. Вы планируете обучение ребенка польскому языку в Лагере?">
            <p class="quiz__item-title">
            </p>
            <div class="control-group control-group_inline">
              <div class="control control_default">
                <label>
                  <p class="control__text">Да
                  </p>
                  <input class="js-quiz" type="radio" name="question_2" value="Да"/><span class="control__indicator"></span>
                </label>
              </div>
              <div class="control control_default">
                <label>
                  <p class="control__text">Нет
                  </p>
                  <input class="js-quiz" type="radio" name="question_2" value="Нет"/><span class="control__indicator"></span>
                </label>
              </div>
            </div>
          </div>
          <div class="quiz__item" data-title="3. Вы уже являетесь клиентом Osvita-Market?">
            <p class="quiz__item-title"> 
            </p>
            <div class="control-group control-group_inline">
              <div class="control control_default">
                <label>
                  <p class="control__text">Да
                  </p>
                  <input class="js-quiz" type="radio" name="question_3" value="Да"/><span class="control__indicator"></span>
                </label>
              </div>
              <div class="control control_default">
                <label>
                  <p class="control__text">Нет
                  </p>
                  <input class="js-quiz" type="radio" name="question_3" value="Нет"/><span class="control__indicator"></span>
                </label>
              </div>
            </div>
            <div class="quiz__footer">
              <button class="btn btn_size-lg btn_brand-1 effect effect_bounce-top" type="submit">Отправить ответы
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</header>