include ../bem/index
include ../helpers/config
include ../helpers/mixins
+b.HEADER.site-header._question
	.container
		+e.H1.title._small.title-lg.wow.fadeInUp Спасибо за Вашу заявку!
		+e.P.description._small.wow.fadeInUp(data-wow-delay="0.25s") Мы свяжемся с Вами в ближайшее время.
		+b.quiz.wow.fadeInUp(data-wow-delay="0.5s")
			+e.header
				+e.H2.title Ответьте всего на 3 вопроса
				+e.H3.subtitle Чтобы консультация была максимально полезной
			+e.content
				form(action="quiz.php" method="POST" id="quizForm")
					+e.item._active(data-title="1. Ваш ребенок уже поступил в учебное заведение Польши?")
						+e.P.item-title
						+b.control-group._inline
							+b.control._default
								+e.LABEL
									+e.P.text Да
									input(type="radio" name="question_1" value="Да" class="js-quiz")
									+e.indicator
							+b.control._default
								+e.LABEL
									+e.P.text Нет
									input(type="radio" name="question_1" value="Нет" class="js-quiz")
									+e.indicator
					+e.item(data-title="2. Вы планируете обучение ребенка польскому языку в Лагере?")
						+e.P.item-title
						+b.control-group._inline
							+b.control._default
								+e.LABEL
									+e.P.text Да
									input(type="radio" name="question_2" value="Да" class="js-quiz")
									+e.indicator
							+b.control._default
								+e.LABEL
									+e.P.text Нет
									input(type="radio" name="question_2" value="Нет" class="js-quiz")
									+e.indicator
					+e.item(data-title="3. Вы уже являетесь клиентом Osvita-Market?")
						+e.P.item-title 
						+b.control-group._inline
							+b.control._default
								+e.LABEL
									+e.P.text Да
									input(type="radio" name="question_3" value="Да" class="js-quiz")
									+e.indicator
							+b.control._default
								+e.LABEL
									+e.P.text Нет
									input(type="radio" name="question_3" value="Нет" class="js-quiz")
									+e.indicator
						+e.footer
							+b.BUTTON.btn._size-lg._brand-1.effect._bounce-top(type="submit") Отправить ответы