include ../bem/index
include ../helpers/config
include ../helpers/mixins
+b.HEADER.site-header._thx
	.container#site-header-container
		+e.H1.title.title-lg.wow.fadeInUp#site-header-title Спасибо за Вашу заявку!
		+e.P.description.wow.fadeInUp(data-wow-delay="0.25s") Мы свяжемся с Вами в ближайшее время, чтобы договориться о времени для бесплатной консультации.