extends pug/layout
block head
	+add-meta('Летний языковой лагерь в Польше', 'Летний языковой лагерь в Польше')
block nav
	include pug/layouts/nav
block header
	include pug/layouts/header
block content
	include pug/sections/ukrainian-problems
	include pug/sections/europe
	include pug/sections/camp
	include pug/sections/benefits
	include pug/sections/solution
	include pug/sections/shadow-language-camp
	include pug/sections/question
	include pug/sections/posibility
	include pug/sections/what-do
	include pug/sections/standart-day
	include pug/sections/organization
	include pug/sections/room
	include pug/sections/benefits-2
	include pug/sections/price
	include pug/sections/company
	include pug/sections/map
	//include pug/sections/fast-consultation
	//include pug/sections/chance
	//include pug/sections/results
	//include pug/sections/for-what
	//include pug/sections/answer
	//include pug/sections/review-video
	//
block footer
	include pug/layouts/footer
	+b.modal#modal-form
		+e.box._default
			+e.header
				+e.P.title Проконсультироваться бесплатно
				+e.BUTTON.close(data-close="modal") &times;
			+e.body
				+b.FORM.form._block(action="mail.php" method="POST")
					+e.content
						+e.row
							+e.INPUT.control(name="vname" type="text" placeholder="Ваше имя")
						+e.row
							+e.INPUT.control(name="vemail" type="email" placeholder="Ваш email")
						+e.row
							+e.INPUT.control(name="vphone" type="tel" placeholder="Ваш телефон")
						+e.row
							+e.BUTTON.submit.btn._brand-1._shadow-brand-1._size-fluid.effect._bounce-top(type="submit") Проконсультироваться<br>бесплатно
	+b.modal#modal-politic
		+e.box._default
			+e.header
				+e.P.title Политика конфиденциальности
				+e.BUTTON.close(data-close="modal") &times;
			+e.body
				p Lorem....
	+b.modal#modal-otkaz
		+e.box._default
			+e.header
				+e.P.title Отказ от ответственности
				+e.BUTTON.close(data-close="modal") &times;
			+e.body
				p Lorem....
	