extends pug/layout
block head
	+add-meta('Летний языковой лагерь в Польше', 'Летний языковой лагерь в Польше')
	+js("js/lib/jquery.min.js")
	+js("js/jquery.main.js")
block nav
block header
	include pug/layouts/header_thx_question