include ../bem/index
include ../helpers/config
include ../helpers/mixins
+b.SECTION.europe
	.container
		.row
			.col-12.col-sm-6.wow.fadeInLeft
				+e.H3.title.title-md 
					span.color-brand-2 Европа  
					| - дорого, сложно, «для избранных»
				+e.content.text
					p Мы привыкли, что только дети чиновников или крупных бизнесменов могут позволить себе отдыхать или учится на Западе.
					p Но Европа - это не только дождливые улочки Лондона, набережные Ниццы и снежные курорты Куршавеля…
					p Есть Европа не менее прекрасная, но которую можете позволить себе Вы - простая украинская семья, которая желает своему ребенку самого лучшего.
			.col-12.col-sm-6.wow.fadeInRight
				+e.picture(data-emergence="hidden")
					+e.picture-circle
					+e.picture-sky
						+e.picture-plane(src="img/europe-plane.png")
						+e.picture-clouds
							+e.picture-cloud._1(src="img/europe-cloud-1.png")
							+e.picture-cloud._2(src="img/europe-cloud-2.png")
							+e.picture-cloud._3(src="img/europe-cloud-3.png")
							+e.picture-cloud._4(src="img/europe-cloud-4.png")
							+e.picture-cloud._5(src="img/europe-cloud-5.png")
							+e.picture-cloud._6(src="img/europe-cloud-6.png")
					+e.picture-background(src="img/europe.png")