include ../bem/index
include ../helpers/config
include ../helpers/mixins
-
	var sectionTitle = 'Организационные моменты';
	var gallery = [
		{
			small: 'img/gallery-1.jpg'
		},
		{
			small: 'img/gallery-2.jpg'
		},
		{
			small: 'img/gallery-3.jpg'
		},
		{
			small: 'img/gallery-4.jpg'
		},
		{
			small: 'img/gallery-5.jpg'
		},
		{
			small: 'img/gallery-6.jpg'
		}
	];
+b.SECTION.organization#section-organization
	.container
		+e.row.row
			.col-12.col-md-8
				+e.H3.title.title-md=sectionTitle
				+e.content
					+e.item.wow.fadeInUp(data-wow-delay="0.1s")
						+e.item-header
							+e.item-image(src="img/icon-org-1.svg")
							+e.P.item-title 
								|Доступные
								br
								|направления
						+e.item-content
							p 1. Полчин-Здруй 
							p 2. Остров-Любельский 
							p 3. Закопана
					+e.item.wow.fadeInUp(data-wow-delay="0.2s")
						+e.item-header
							+e.item-image(src="img/icon-org-2.svg")
							+e.P.item-title Документы
						+e.item-content
							p Вашему ребенку нужно иметь биометрический паспорт и свидетельство о рождении. Кроме этого нужно предоставить: медицинскую справку, копии паспортов родителей, нотариальное разрешение на сопровождающих, медицинский опросник.
					+e.item.wow.fadeInUp(data-wow-delay="0.25s")
						+e.item-header
							+e.item-image(src="img/icon-org-3.svg")
							+e.P.item-title Сопровождение
						+e.item-content
							p Дети собираются в одном месте, садятся в автобусы и отправляются в лагерь. Дорога занимает 18 часов. С ними едут русскоговорящие представители компании “ОсвитаМаркет”. Они также остаются в лагере на весь заезд, чтобы потом сопроводить детей домой.
					+e.item.wow.fadeInUp(data-wow-delay="0.3s")
						+e.item-header
							+e.item-image(src="img/icon-org-4.svg")
							+e.P.item-title Страховка
						+e.item-content
							p Все дети страхуются до отъезда. На территории лагеря за безопасность отвечают организаторы лагеря. Есть круглосуточный медпункт и профессиональный врач.
					+e.item.wow.fadeInUp(data-wow-delay="0.35s")
						+e.item-header
							+e.item-image(src="img/icon-org-5.svg")
							+e.P.item-title Кому подходит
						+e.item-content
							p Языковой лагерь подходит детям 11-16 лет. Ребенок должен быть здоров и, самое главное - не бояться оставаться без родителей.
			.col-12.col-md-4
				+e.UL.gallery.wow.fadeInRight(data-wow-delay="0.5s")
					each picture in gallery
						+e.LI.gallery-item
							+e.IMG.gallery-item-image(src=picture.small)