include ../bem/index
include ../helpers/config
+b.SECTION.price
	.container
		+e.H3.title.title-md.color-brand-2.wow.fadeInUp Что входит в стоимость поездки?
		+e.row.row
			.col-12.col-sm-5.wow.fadeInLeft(data-wow-delay="0.1s")
				img(src="img/price-image.png")
			.col-12.col-sm-7.wow.fadeInRight(data-wow-delay="0.2s")
				+e.content
					+b.UL.list._flag
						li 10-14 дней отдыха в одном из лагерей
						li Переезд на комфортабельном автобусе в лагерь из Киева и обратно
						li Сопровождение русскоговорящих кураторов.<br>Они находятся в лагере на протяжении всей смены
						li Проживание в номерах на 2-4 человека.<br>Душ, туалет и телевизор в каждом номере
						li 4-разовое сбалансированное питание
						li Экскурсии
						li Уроки польского с профессиональными преподавателями (15 раз за смену)
						li Учебники, диски, ручки, тетради и вообще всё, что нужно для учебы
						li Бесплатное пользование Wi-fi на территории лагеря
						li Карманные деньги ребенку, от 50 евро (по желанию)
				+e.footer
					+b.BUTTON.btn._size-lg._brand-1._shadow-brand-1.effect._bounce-top(data-action="modal" data-open="#modal-form") Проконсультируйте меня по лагерям и деталям поездки