include ../bem/index
include ../helpers/config
+b.SECTION.question
	.container
		+e.row.row.wow.fadeInUp
			.col-12.col-sm-4
				img(src="img/question-girl.png")
			.col-12.col-sm-8
				+e.item
					+e.item-content
						p
							| Мы пока 
							span.color-brand-2.bold не собираемся учиться в Польше.
						p Просто хотим отправить ребенка отдохнуть хорошо и с пользой. Языковой лагерь нам подойдет?