include ../bem/index
include ../helpers/config
include ../helpers/mixins
+b.SECTION.solution.section
	.container
		+e.row.row
			+e.column._image.col-12.col-sm-6.wow.fadeInLeft
				+e.circle
				+e.image(src="img/solution-cap.png")
			.col-12.col-sm-6.wow.fadeInRight
				+e.H3.title.title-md 
					|Вы долго думали 
					br
					| и наконец 
					span.color-brand-2 решились... 
				.text
					p Ваш ребенок поедет учиться в Польшу.
					p Безусловно, Вы знаете, что для учебы понадобиться польский. Хотя бы на минимальном-среднем уровне.
					p Но где и как его учить, чтобы быстро, недорого и не перегружать ребенка?...