doctype html
html(lang="ru")
	head
		include assets/meta
		include bem/index
		include helpers/config
		include helpers/mixins
		block css
			+css("css/style.css")
		block js
			+js("js/lib/libs.min.js")
			+js("js/vanilla.main.js")
		block head
	body
		block nav
		.site#page
			block header
			.site-content#content
				block content
			block footer