-
	var navigation = [
		{
			name: 'Распорядок дня',
			link: '#section-standart-day'
		},
		{
			name: 'Организация',
			link: '#section-organization'
		},
		{
			name: 'Чем заняться',
			link: '#section-what-do'
		}
	];

	var wordpress = false;

	var themePrefix = '';