include ../bem/index
include ../helpers/config
include ../helpers/mixins
- var iconClass = '_center col-12 col-sm-4';
+b.SECTION.consultation
	.container
		+b.shadow._large._background._background-poland-arms
			+e.header
				+e.H3.title.title-md 
					| Наша консультация - самый быстрый способ<br>
					span.color-brand-2 узнать всё об учебе в Польше
			.row
				+icon(iconClass, 'img/icon-study-4.png', null)
					| <span class="bold">Не нужно никуда ехать</span>, даже если Вы хотите подать документы. Собеседования проведем по телефону или Скайпу, а документы отправим по почте
				+icon(iconClass, 'img/icon-study-5.png', null)
					| <span class="bold">Работаем только официально</span>, подписываем прозрачный договор
				+icon(iconClass, 'img/icon-study-6.png', null)
					| <span class="bold">Гарантируем поступление ребенка в выбранную школу</span>. Если не получилось - возвращаем деньги